<div class="edit-review-container">
    <div class="inner-edit-review-container">
    {{#if logged_in}}
    <div class="h2review">
        <h2 class="">Edit Review</h2>
    </div>
    <form class="edit-review-form form" >
  {{!-- Set the method to PUT to indicate an update operation --}}
  {{!-- Include a CSRF token for security --}}
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">

  

  <div class="form-group">
    <label for="description">Review:</label>
    <textarea name="description" id="description">{{review.description}}</textarea>
  </div>

  {{!-- Add checkboxes for amenities here (similar to your new-review-form) --}}
<p>How dog friendly would you rate your experience here?</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="10" value="{{review.rating}}" class="slider" id="rating" name="rating">
            <p>Rating: <span id="demo"></span>/10 🐾's</p>
        </div>
        {{!-- slider end --}}
        <div id="item-form">
            Check all that apply:<br>
            <input type="checkbox" name="pets" value="Dogs are allowed for inside seating"> Dogs are allowed for inside seating<br>
            <input type="checkbox" name="pets" value="Dogs are allowed for outside seating"> Dogs are allowed for outside seating<br>
            <input type="checkbox" name="pets" value="Dog play area/ dog playground"> Dog play area/ dog playground<br>
            <input type="checkbox" name="pets" value="Water bowls provided upon request"> Water bowls provided upon request<br>
            <input type="checkbox" name="pets" value="Treats available"> Treats available<br>
            <input type="checkbox" name="pets" value="Allows dog birthday celebrations"> Allows dog birthday celebrations<br>
            <input type="checkbox" name="pets" value="Dog menu"> Dog menu<br>

        </div>
  <button type="submit" class="btn btn-primary">Update Review</button>
</form>
    
    
    {{else}}
    <div>
        <p>You must <a href="/login">log in</a> to edit your reviews</p>
    </div>
    {{/if}}
    </div>
</div>
<script>
    var slider = document.getElementById("rating");
    var output = document.getElementById("demo");
    if(slider){
    output.innerHTML = slider.value;
     slider.oninput = function () {
        output.innerHTML = this.value;
    }
    }
   
</script>