<div>
  <div>
   <input type="text" id="search" name="search"><br><br>
    <button>Search</button>
  </div>
  <div>
    <button>View all restaurants</button>
  </div>
  <div>
    <button>Post a review</button>
  </div>
</div>