<div>
  <div>
   <input type="text" id="fname" name="fname"><br><br>
    <button>Search</button>
  </div>
  <div>
    <button>View all restaurants</button>
  </div>
  <div>
    <button>Post a review</button>
  </div>
</div>