<div>
    <div>
        <input type="text" id="resinfo" name="resinfo"><br><br>
    </div>
    <div>
        <input type="text" id="review" name="review"><br><br>
    </div>
    <div>
        <!-- Rating System of some kind -->
    </div>
</div>