<div>
    <div>
    <p>Results</p>
    {{#each restaurants as |restaurant|}}
  <div>
    <h4>
      <a class="restaurants" href="/restaurant/{{restaurant.id}}">{{restaurant.restaurant_name}}</a>
    </h4>
  </div>
        <div class="card-body">
            <p>Average rating: {{averageRating}}</p>
        </div>
    </div>
        {{/each}}
    </div>

    <div>
        <p>Map</p>
        <!-- google maps api info-->
    </div>
</div>