h1{
    text-align: center;
    
}
#suchwow{
    height: 200px;
    width: 200px;
}


footer {
    background-color: darkcyan;
    height: 40px;
    text-align: center;
    font-family: sans-serif;
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008B8B;
    
}

 .nav-link{
    color:black !important;
    border-radius: 20px;
 }
 .nav-link:hover{
    
    background-color: rgb(174, 175, 177);
    
 }
a{
    color:black !important;
    text-decoration: none !important;
}











h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}