h1{
    text-align: center;
    
}

nav{
    border: 1px solid black;
  
}
ul{
    background-color: #97FEED;
    
}
footer {
    background-color: #071952;
    height: 20vh;
    text-align: center;
    font-family: sans-serif;
    color: white;
    display: flex;
  align-items: center;
  justify-content: center;
   
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0B666A; */
    
}

 .nav-link{
    color:black !important;
   
 }
 
 .nav-link:hover{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
 }
 .text-center{
    background-color: #35A29F;
 }
a{
    color:black !important;
    text-decoration: none !important;
}


body {
   
    padding-left: 10%;
    padding-right: 10%;
}
.restaurantdiv{
    padding: 1%;
    justify-content: center;
    display: flex;
flex-wrap: wrap;
    
}
.Singlerestaurant{
    text-align: center;
    width: 50vh;
    height: 50vh;
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}


.homepagecontainer{
    
   
   
   border: 1px solid black
    
    
}
.reviewdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-restaurant{
    align-self: center;
    width: 20vh;
}
.logo{
    
    max-width: 100%;
    max-height: 100%;
}
.logo2 {
    transform: scaleX(-1);
    max-width: 100%;
    max-height: 100%;
  }
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    padding-top: 8%;
    font-size: 1.5rem;
    text-align: center;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}
/* login style */
.loginholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   padding: 1%;
   padding-top: 8%;
   border: 1px solid black;
   
}


  .card {
    margin:1%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  

  

  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  /* add restaurant */
 
  /* profile */
#suchwow{
    height: 200px;
    width: 200px;
}
#profilecontainer{
    height: 100%;
    width: 100%;
    border: 1px solid black
}
#reviewscontainer{
   
}
/* .review-list{
    display: flex;
    justify-self: center;
    
} */
.card {
  
}
